<h1>{{titulo}}</h1>

{{#if carrito.products.length}}
  <ul>
    {{#each carrito.products}}
      <li>
        <strong>{{this.product.title}}</strong><br>
        Precio unitario: ${{this.product.price}}<br>
        Cantidad: {{this.quantity}}<br>
        Subtotal: ${{multiply this.product.price this.quantity}}
      </li>
    {{/each}}
  </ul>

  <p>
    <strong> Total: $ {{calculateTotal carrito.products}}</strong>
  </p>
{{else}}
  <p> El carrito está vacío. </p>
{{/if}}